
<section id="banner" class="major">
	<div class="inner">
		<header class="major">
			<h1>Hi, my name is Zhanel</h1>
		</header>
		<div class="content">
			<p>
				This is my portfolio of games and sites
			</p>
			<ul class="actions">
				<li><a href="#one" class="button next scrolly">Get Started</a></li>
			</ul>
		</div>
	</div>
</section>