@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}


<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; @appConfig?.Company.CompanyName</li>
		</ul>
	</div>
</footer>